@import "tw-animate-css";
@import "shadcn/tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0.986 0.002 67.8;
    --foreground: 0.147 0.004 49.3;
    --card: 1 0 0;
    --card-foreground: 0.147 0.004 49.3;
    --popover: 1 0 0;
    --popover-foreground: 0.147 0.004 49.3;
    --primary: 0.214 0.009 43.1;
    --primary-foreground: 0.986 0.002 67.8;
    --secondary: 0.96 0.002 17.2;
    --secondary-foreground: 0.214 0.009 43.1;
    --muted: 0.96 0.002 17.2;
    --muted-foreground: 0.547 0.021 43.1;
    --accent: 0.96 0.002 17.2;
    --accent-foreground: 0.214 0.009 43.1;
    --destructive: 0.577 0.245 27.325;
    --border: 0.922 0.005 34.3;
    --input: 0.922 0.005 34.3;
    --ring: 0.714 0.014 41.2;
    --radius: 0.625rem;
  }

  .dark {
    --background: 0.147 0.004 49.3;
    --foreground: 0.985 0.001 106.4;
    --card: 0.216 0.006 56.0;
    --card-foreground: 0.985 0.001 106.4;
    --popover: 0.216 0.006 56.0;
    --popover-foreground: 0.985 0.001 106.4;
    --primary: 0.923 0.003 48.7;
    --primary-foreground: 0.216 0.006 56.0;
    --secondary: 0.268 0.007 34.3;
    --secondary-foreground: 0.985 0.001 106.4;
    --muted: 0.268 0.007 34.3;
    --muted-foreground: 0.709 0.01 56.3;
    --accent: 0.268 0.007 34.3;
    --accent-foreground: 0.985 0.001 106.4;
    --destructive: 0.704 0.191 22.216;
    --border: 0.31 0.008 40.0;
    --input: 0.31 0.008 40.0;
    --ring: 0.553 0.013 58.1;
  }

  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply bg-background font-serif;
  }

  body {
    @apply min-h-screen bg-background text-foreground antialiased;
  }

  button,
  input,
  textarea {
    font: inherit;
  }
}
